@model JaimeVarela.Models.DataStructureViewModel


<h1>Data Structures and Operational Complexities</h1>

<br>
<p>Here, we tabulate the built in data structures for various languages along with their query and update complexities.  Here (*) means average case and 'Access' denotes the type of iterator access the container possesses.  The iterator terminology is as follows:</p>

<ul>
    <li>R: Random access (an index)</li>
    <li>F: Forward access</li>
    <li>B: Backward access</li>
    <li>F/B: Forward and backward access</li>
    <li>N: no iterator access</li>
</ul>

@foreach(var item in Model.pocoObject)
{
    <h2>@item.Language</h2>
    <p>@item.Description</p>
    <br>
    <div>
    <table class="table table-bordered">
        <thead>
        <tr>
            @foreach (var header in item.header)
            {
                <th>
                    @header
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var ds in item.DataStructures)
        {
            <tr>
            <td>@ds.Name</td> <td>@ds.Access</td> <td>@ds.Find</td> <td>@ds.Delete</td> <td>@ds.Insert</td> <td style="word-wrap">@ds.Syntax</td> <td style="word-wrap">@ds.Note</td>            
            </tr>
        }        
        </tbody>
    </table>
    </div>
}